#container{
	min-height: 100vh;
	display: flex;
}
.left
{
	width: 60vw;
background: black;
}
.right
{
	width: 40vw;
background: black;

}

#title{
	color:skyblue;
    text-align: center;
    text-shadow: 5px 5px 10px grey;
    font-size:4em;
  
    padding-top: 30px;
     font-family: cursive;
}
#img{
    height: 350px;
     width: 300px;
      padding-left: 150px;
      padding-top: 20px;
}

#caption{
	color: white;
    font-size: 35px;
    text-align: center;
    
    
}
#heading{
	color: #87ceeb;
    font-size: 30px;
}

#info{
	color: pink;
    font-size: 25px;
    padding-left: 20px;
   align: justify;
font-family:Times new Roman;
}
#list{
	color:#adff2f; 
	font-size:30px;
	padding-left: 20px;
}
ul{
	list-style-type: square
}
#list_item
{
	color:#87ceeb; 
	font-size:28px
}
#extra_info{
	color:pink; 
	font-size:28px
}
#link{
	color:white; 
	font-size:28px
}